body {
	background: #CCC;
	text-align: center;
}
#inputs {
	margin: 2em 0 1em;
}
p, b, input {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
	margin: 0;
}
b {
	width: 70px;
	height: 40px;
}
i {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 1px;
	display: block;
}
input {
	font: 14px monospace;
	width: 164px;
	margin-left: 1em;
}
.hex {
	width: 4.5em;
}
#a, #m_0, #m_1, #hue_selector {
	cursor: crosshair;
}
